<div class="sidebar-header">
    <img src="../images/logo.png" alt="Logo" class="logo-small" />
    <h3>Quản Trị</h3>
</div>
<nav class="sidebar-nav">
    <ul>
        <li>
            <a href="index.html"
                ><i class="fas fa-tachometer-alt"></i><span>Tổng quan</span></a
            >
        </li>
        <li>
            <a href="sinh-vien.html"
                ><i class="fas fa-user-graduate"></i
                ><span>Quản lý Sinh viên</span></a
            >
        </li>
        <li>
            <a href="giang-vien.html"
                ><i class="fas fa-chalkboard-teacher"></i
                ><span>Quản lý Giảng viên</span></a
            >
        </li>
        <li>
            <a href="mon-hoc.html"
                ><i class="fas fa-book"></i><span>Quản lý Môn học</span></a
            >
        </li>
        <li>
            <a href="lop-hoc.html"
                ><i class="fas fa-users"></i><span>Quản lý Lớp học</span></a
            >
        </li>
        <li>
            <a href="bao-cao.html"
                ><i class="fas fa-chart-pie"></i><span>Báo cáo</span></a
            >
        </li>
        <li>
            <a href="../login.html"
                ><i class="fas fa-sign-out-alt"></i><span>Đăng xuất</span></a
            >
        </li>
    </ul>
</nav>
