<div class="sidebar-header">
    <img src="../assets/images/logo.png" alt="Logo" class="logo-small" />
    <h3>Sinh Viên</h3>
</div>
<nav class="sidebar-nav">
    <ul>
        <li>
            <a href="index.html"
                ><i class="fas fa-user-circle"></i
                ><span>Thông tin chung</span></a
            >
        </li>
        <li>
            <a href="mon-hoc.html"
                ><i class="fas fa-book-open"></i><span>Môn học</span></a
            >
        </li>
        <li>
            <a href="xem-diem.html"
                ><i class="fas fa-poll"></i><span>Xem điểm</span></a
            >
        </li>
        <li>
            <a href="ho-so.html"
                ><i class="fas fa-edit"></i><span>Hồ sơ cá nhân</span></a
            >
        </li>
        <li>
            <a href="../login.html"
                ><i class="fas fa-sign-out-alt"></i><span>Đăng xuất</span></a
            >
        </li>
    </ul>
</nav>
