<div class="sidebar-header">
    <img src="../assets/images/logo.png" alt="Logo" class="logo-small" />
    <h3>Giảng Viên</h3>
</div>
<nav class="sidebar-nav">
    <ul>
        <li>
            <a href="index.html"
                ><i class="fas fa-home"></i><span>Dashboard</span></a
            >
        </li>
        <li>
            <a href="nhap-diem.html"
                ><i class="fas fa-marker"></i><span>Quản lý điểm</span></a
            >
        </li>
        <li>
            <a href="ho-so.html"
                ><i class="fas fa-user-edit"></i><span>Hồ sơ cá nhân</span></a
            >
        </li>
        <li>
            <a href="../login.html"
                ><i class="fas fa-sign-out-alt"></i><span>Đăng xuất</span></a
            >
        </li>
    </ul>
</nav>
